/* #logo{
    
    display:flex;
    margin-left:  32%;
    height: 20vh;
    width: 60vh;
}

#player{

    position: absolute;
}

#content{
    position:absolute;
    margin-left:  40%;
    margin-top: -12.10%;

}

#button{
    position: absolute;
    display:flex;
    margin-left:  55%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-color: transparent;
    background-color: transparent;
    margin-top: -12.10%;
    margin-left:  58.40%;
}

#right{
    position: absolute;
    background-color: transparent;
    display:flex;
    margin-top: -10.10%;
    border-color: transparent;
    margin-left:  28%;
}
#left{
    background-color: transparent;
    position: absolute;
    border-color: transparent;
    display:flex;
    margin-top: -10.10%;
    margin-left:  23.80%;
} */
