body{
    background-color:gray;
    height: 100vh;
    width: 100vvh;
    margin:0;

}

.sidebar{
    display: grid;
    float: left;
    grid-template-columns: 25% 25% 25% 25%;
    width: 20%;
    height: 100vh;
}

#random{
    grid-column: 3/5;
}

#clear{
    grid-column: 1/3;

}


.canvas{
    display: grid;
    grid-template-columns: repeat(60,1fr);
    height: 100vh;
}
.canvas > *{
    border: 1px gray solid;
    background-color: white;
}